.post-scroll {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0 );
    border-radius: 8px;
    padding: 16px;
    height: calc(100vh - 20px); /* Adjust based on header and spacing */
    overflow-y: auto;
  }
  
  .post {
    margin-bottom: 16px;
  }
  
  .post iframe {
    width: 100%;
    border-radius: 8px;
  }
  
  .post-scroll-card {
    width: 90%; /* Adjust width as needed */
    margin-left: 20px;
  }
  
  .post-card {
    margin-bottom: 1rem;
  }
  
  .card {
    border-radius: 8px;
    border: none; /* Remove border */
  }
  
  .card-body {
    padding: 16px;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  