.user-profile-container {
  width: 30%; /* Increase the width of the profile card */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0);
  border-radius: 8px;
  
  padding: 16px;
  margin-right: 20px; /* Space between profile and post scroll */
}


.user-profile-image {
  flex-shrink: 0;
}

.user-profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.user-profile-info {
  margin-left: 16px;
  flex: 1;
}

.user-profile-header {
  display: flex;
  align-items: center;
}

.user-profile-name {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}

.user-profile-username {
  font-size: 1rem;
  color: #888;
  margin: 0;
}

.user-profile-details {
  margin-top: 16px;
}

.user-profile-role {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.file-button {
  margin-left: 8px;
  padding: 4px 8px;
  font-size: 0.875rem;
}

.user-profile-college,
.user-profile-company,
.user-profile-location {
  margin: 4px 0;
  font-size: 0.875rem;
  color: #555;
}

.user-profile-link {
  display: block;
  margin: 8px 0;
  font-size: 0.875rem;
  color: #007bff;
  text-decoration: none;
}

.edit-profile-btn {
  width: 100%;
  margin-top: 16px;
}
